.AnimateImage {
    display: block;
    position: relative;
  }
  
.AnimateImage-click-area {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.AnimateImage-child {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
